{% load staticfiles %}

<html>
  <head>
    <title>Elevennote</title>
    <link rel="stylesheet" media="all" href='{% static "font-awesome/css/font-awesome.css" %}'>
    <link rel="stylesheet" media="all" href='{% static "bootstrap/css/bootstrap.css" %}'>
    <link rel="stylesheet" media="all" href='{% static "elevennote/main.css" %}'>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic|Oxygen:300,400,700" />
    <script src="{% static "elevennote/jquery.js" %}"></script>
    <script src="{% static "elevennote/main.js" %}"></script>

    {% block extra_head %}{% endblock %}
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ElevenNote</a>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto"></ul>
          <span class="navbar-text">
            Signed in as {{ user.email }}.
            <a href="#">Profile</a> | 
            <a href="{% url 'accounts:logout' %}">Logout</a>
          </span>
        </div>
        {% endif %}
      </nav>

      <main role="main" class="container-fluid mt-4">
        {% block content %}{% endblock %}
      </main>
  </body>
</html>
